/* Reseteo total para instalaciones WebGL a pantalla completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; 
    background-color: #05080a; 
    width: 100vw;
    height: 100vh;
}

canvas {
    position: fixed; /* Obliga al canvas a ignorar otros elementos */
    top: 0;
    left: 0;
    z-index: 1; /* Lo manda al fondo de todo */
    display: block;
    width: 100vw !important;
    height: 100vh !important;
    outline: none;
}